<div class="outer-container">
    <div id="sidebarcontainer" class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 380px;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-light text-decoration-none text-center explorer-heading">
        <span class="fs-4">Code Snippet Storage</span>
      </a>
      <div class="list-group list-group-flush scrollarea">
        <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>Wed</small>
          </div>
          <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
        </a>
        
        
        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1 text-muted">File name.txt</strong>
          </div>
          <div class="col-10 mb-1 small text-muted">Some preview data of the file itself</div>
        </a>
      </div>
    </div>
  <app-monaco-editor class="flex-child-element"></app-monaco-editor>
</div>
<context-menu #basicMenu>
  <!-- each menu item is a <ng-template>... -->
  <ng-template contextMenuItem [passive]=true>
    <!-- ...that can contain any HTML with sepcific styling -->
    <span class="menu-item-title">Context menu title</span>
  </ng-template>
  <!-- ...or just text, the (execute) output is called when the menu item is clicked -->
  <ng-template contextMenuItem (execute)="rename($event.value)">Rename</ng-template>
  <ng-template contextMenuItem [disabled]="true"
    >Disabled menu item</ng-template
  >
</context-menu>
