/* You can add global styles to this file, and also import other style files */
body
    margin: 0  /* This is used to reset any browser-default margins */
    padding: 0

app-root
    height: inherit
